<!-- filename:js-step08-12-16-24000-yourname.html -->
<!-- filename:js-step08-12-11-24000-yourname.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="24000.js"></script>
</head>
<body>
    <h1>複合条件の判定</h1>
    <label for="">スコアの入力</label>
    <input type="text" id="score">
    <button onclick="hantei()">
        Judge
    </button>
    <p>
        ※スコア表 <br>
        90 ～　100  grade 5 <br>
        80 ～　89   grade 4 <br>
        50 ～　79   grade 3 <br>
        44 ～　49   grade 2 <br>
        　 ～　43　　grade 1 <br>
    </p>
</body>
</html>