       *{
            box-sizing: border-box;
            border: solid 1px gray;
        }
       h1 {
           border-bottom: solid 3px #003399;
           color: #003399;
           padding: 3px;
           width: 500px;
       }

       .st1 {
           font-size: 14pt;
           font-weight: bold;
           padding-bottom: 30px;
       }

       form {
           margin-left: 35px;
       }